.card {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    color: white;
    background-color: #666666;
    margin-right: 20px;
}
  
.cards {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 900px;
}


.cards img {
    width: 100px;
}

.card:hover {
    background-color: rgba(66, 66, 66, 0.5);
}